{{#if posts.length}}
<div class="col-md-6 post-list">
  <h3>Your Posts:</h3>

  {{#each posts as |post|}}
  <div class="row mb-2">
    <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
    <p>{{post.date_created}}</p>
    {{!-- <div class="col-md-4">
      <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
    </div> --}}
  </div>
  {{/each}}
</div>
{{/if}}